@viewport {
    width: device-width;
}

body{
    font-family: roboto,arial,sans-serif;
    font-size: 13.5px;
    min-height: 100%; 
}

.main {
    display: grid;
    min-width: min-content;
    grid-template-columns: 275px 1fr 250px;
    grid-template-rows: 1fr 2fr 
}
#signin {
    background-color: #4583ec;
    border-radius: 4px;
    display: inline-block;
    text-decoration-color: white;
    padding: 8px 8px;
    height: min-content;
    margin-top: -10px;
    color: white !important;
    font-weight: bold;
}
a {
    text-decoration: none;
    opacity: 80%;
    color: inherit;
}
a:hover {
    text-decoration:underline;
    opacity: 90%;
}
.appicon{
    opacity: 40%;
}
.appicon:hover{
    opacity: 100%;
}

.lefttopnav {
    text-decoration: none;
    grid-area: 1/1/1/1;
    position: absolute;
    list-style-type: none;
    display: flex;
    justify-items:start;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-inline-start: 14px;
}
.store{
    padding-left: 15px;
}
.righttopnav{
    list-style-type: none;
    position:static;
    grid-area: 1/-1/2/-2;   
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-right: 10px;
    padding-inline-start: 0px;
}

.google {
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-flow: column;
    grid-area: 2/2;
}
.searchbar {
    border-radius: 24px;
    border-style:outset;
    border-width: 1px;
    border-color: #dfe1e5;
    height: 38px;
    width: 582px;
    padding: 0 10px;
    padding-top: 5px;
    background-repeat: no-repeat;
    outline: none;
    border-style: solid;
    text-indent: 30px;
    font-size: 16px;
    }
.searchbar:hover {
    box-shadow: 0px 1px 5px 1px rgb(199, 192, 192) ;
}
.bar{
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    padding-top: 20px;
}
.glass{
    display:block;
    position: relative;
    opacity: 30%;
    height: 20px;
    width:20px;
    left: 30px;

}
.searchsubmit {
    display: flex;
    width: 300px;
    justify-content: space-around;
    padding-top: 20px;
}
.search {
    background-color: #f1f1f1;
    border: 1px #f1f1f1;
    height: 34px;
    width: fit-content;
    padding: 0px 20px;
    border-radius: 4px;
    color:#5f6368;
}
.search:hover{
    box-shadow: 1px 1px 1px rgb(204, 203, 203), -1px -1px 1px rgb(204, 203, 203);
    color: black
}


#botnav {
    display: flex;
    opacity: 80%;
    justify-content: space-between;
    justify-items: normal;
    flex-wrap: nowrap;
    width:101vw;
    min-width:max-content;
    bottom: -14px;
    list-style-type: none;
    border-color: transparent;
    background-color:#f2f2f2;
    border-style: inset;
    position: fixed;
    border-top: 1px black;
    font-size: 14px; 
    padding-inline-start: 0px;
    left: -14px;
    line-height: 5px;
}   

.leftbot{
    display: flex;
    justify-content: space-around;
    width: 300px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 10px;
    bottom: 0px;
}
.rightbot {
    width: 200px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 10px;
    float: right;
    display: flex;
    justify-content: space-around;
}